#html5-user-geolocation-map {
  width: 450px;
  height: 250px;
  background: url('world-map.png');
  position: relative;
}

#html5-user-geolocation-map-wrapper,
#html5-user-geolocation-messages-wrapper .geolocating {
  display: none;
}

#html5-user-geolocation-map .dot {
  position: absolute;
  border: 4px solid #064771;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: -4px -4px -4px -4px;
  display: none;
}
